# RUNTIME (pooled / Supavisor transaction mode)
# username includes the project ref; host is the pooler; port 6543
#DATABASE_URL="postgresql://postgres.uhxexeedphhsyuuhtwbb:ledionrestelica@aws-1-eu-north-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true&connection_limit=1"

# MIGRATIONS (direct Postgres)
# username is plain 'postgres'; host is db.<projectref>.supabase.co; port 5432
#DIRECT_URL="postgresql://postgres:ledionrestelica@db.uhxexeedphhsyuuhtwbb.supabase.co:5432/postgres?sslmode=require"



BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
OPENAI_API_KEY=


#DEV Your local DB URL
DATABASE_URL=
DIRECT_URL="postgresql://ledionrestelica:postgres@localhost:5432/ai-chat"

NEXT_PUBLIC_BASE_URL="http://localhost:3000"

#Sendgrid
SENDGRID_API_KEY=

#Resend
RESEND_API_KEY=

#AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=

#Sentry
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_DSN=

#Upstash
#UPSTASH_REDIS_REST_URL="https://obliging-wombat-22927.upstash.io"
#UPSTASH_REDIS_REST_TOKEN="AVmPAAIncDI1N2NlNzFlZTI5YzY0ZTA4OTVlZWRjYmNlMDZmYmEzNnAyMjI5Mjc"