# Ignore artifacts:
build
coverage
node_modules
.next
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.eslintcache
.gitignore
.prettierignore
.prettierrc
.prettierrc.json
.prettierrc.json5
.prettierrc.yaml
.prettierrc.yml
.prettierrc.js
.prettierrc.cjs
.prettierrc.mjs
.prettierrc.ts
.prettierrc.cts
.prettierrc.mts
.prettierrc.cts
.prettierrc.mts
.prettierrc.cts
.prettierrc.mts
prisma
.DS_Store
generated
.vercel